<section class="content" ng-init="loadUserStatusMessages('all')">
  <div class="row">
    <div class="col-md-10 pull-left">
      <h1 class="page-header">Messages</h1>
    </div>
    <div class="col-md-2 pull-right">
        <input type="button" class="btn btn-info" value="Post Message" ui-sref="userStatusMessages.create">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 btn-group form-group">
        <input type="button" class="btn btn-info" value="Current Message" ng-click="loadUserStatusMessages('current')">
        <input type="button" class="btn btn-info" value="Previous 10 Message" ng-click="loadUserStatusMessages('last_10')">
        <input type="button" class="btn btn-info" value="All" ng-click="loadUserStatusMessages('all')">
    </div>
  </div>
  <div class="list-group">
    <a ng-repeat="userStatusMessage in userStatusMessages" ui-sref="userStatusMessages.view({ userStatusMessageId: userStatusMessage._id })" class="list-group-item">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 list-group-item-text pull-left">
          {{userStatusMessage.message}}
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right">
          <small class="list-group-item-text pull-right">
            Posted on
            <span ng-bind="userStatusMessage.created | date:'dd/MM/yyyy HH:mm:ss'"></span>
            by
            <span ng-if="userStatusMessage.user" ng-bind="userStatusMessage.user.displayName"></span>
          </small>
        </div>
      </div>
    </a>
  </div>
  <div class="row" ng-if="!userStatusMessages.length">
    <div class="alert alert-default" role="alert">
      No any message for you. <a ui-sref="userStatusMessages.create">Post Message</a>
    </div>
  </div>
</section>
